LuxCam/obj/
Shaders/LRI_Light/obj/
Shaders/LRI_Matte/obj/
Shaders/LRI_Template/obj/
intermidiate/LuxMax.tlog/
ipch/
LuxMax.opensdf
*.sdf
Shaders/LR_Matte/obj/
Shaders/LR_Light/obj/
Shaders/LR_Template/obj/
intermidiate/
